* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Common Design */
.common-paragraph {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 30px auto;
}
.btn {
  display: block;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 25px;
  border: 1px solid transparent;
  margin: 0 auto;
  cursor: pointer;
}

/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar h3 {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul a {
  color: #727272;
  padding: 10px 30px;
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.header-text h1 {
  color:  #131313;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 100px auto 0 auto;
}

.header-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-img-section img {
  margin: 50px 0 0 0;
  width: 100%;
}

/* Respomsive media queries */

/* Small Devices */
@media screen and (max-width: 576px) {
    /* Header Section */
    
    header {
        padding: 20px 10px;
    }
    .nav-bar {
        flex-direction: column;
    }
    .nav-bar ul {
        margin-top: 20px;
    }
    .nav-bar ul a {
        padding: 5px;
    }
    .header-text h1 {
        margin: 50px auto 0 auto;
    }
}


/* Tablet or Medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* Header Section */
    header {
        padding: 50px 10px;
    }
    .nav-bar {
        flex-direction: column;
    }
    .nav-bar ul {
        margin-top: 20px;
    }
    .header-text h1 {
        margin: 50px auto 0 auto;
    }
}


/* From 960px to  1400px*/
@media screen and (min-width: 960px) and (max-width: 1400px) {
    /* Header Section */
    header {
        padding: 50px;
    }
    .nav-bar ul {
        margin-top: 20px;
    }
    .header-text h1 {
        margin: 50px auto 0 auto;
    }
}